<div class="card-container">

<!-- add after div class for onclick to work(click)="toggle()" -->

  <!-- <a href="https://apacorp.com/">
    <div class="card card-small" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>APACHE</span>
      <p [@bodyExpansion]="state" class="expandable-content">
        <img src="../../assets/img/apache-logo.jpg">
      </p>
    </div>
  </a> -->

  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/apache-logo.jpg'>
  </div>

  <div class="card card-small"  tabindex="0">
    <img src='../../assets/img/client-logo/borr.png'>
  </div>


  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/bp.tif'>
  </div>


  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/chevron.tif'>
  </div>

  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/diamond.png'>
  </div>


  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/dolphin2.jpeg'>
  </div>

  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/dsme.jpeg'>
  </div>


  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/helix.png'>
  </div>


  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/naborspng.png'>
  </div>

  <div class="card card-small" tabindex="0">
    <img src='../../assets/img/client-logo/noble.tif'>
  </div>
    <div class="card card-small" tabindex="0">
      <img src='../../assets/img/client-logo/odebrecht.jpeg'>
    </div>

    <div class="card card-small" tabindex="0">
      <img src='../../assets/img/client-logo/odfjell.jpeg'>
    </div>

    <div class="card card-small" tabindex="0">
      <img src='../../assets/img/client-logo/pacific.jpeg'>
    </div>

    <div class="card card-small" tabindex="0">
      <img src='../../assets/img/client-logo/petropng.png'>
    </div>


    <div class="card card-small" tabindex="0">
      <img src='../../assets/img/client-logo/sch.jpeg'>
    </div>


    <div class="card card-small" tabindex="0">
      <img src='../../assets/img/client-logo/seaddrill.jpeg'>
    </div>

    <div class="card card-small" tabindex="0">
      <img src='../../assets/img/client-logo/shell.png'>
    </div>

      <div class="card card-small" tabindex="0">
        <img src='../../assets/img/client-logo/transocean.jpeg'>
      </div>

      <div class="card card-small" tabindex="0">
        <img src='../../assets/img/client-logo/valaris2.jpeg'>
      </div>

</div>
