  /* .video-container {
    position: absolute;
    display: absolute;
    margin-top: 10px;
    padding-top: 20px;
  } */

#myVideo{
  max-width: 90%s;
  width: 95%;
  height: 50%;
  max-height: 80%;
  margin: 2.5%;
}
